/* ListaFrutas.css */
.lista-frutas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: flex-start; 
  gap: 20px; 
  padding: 20px;
}


.lista-frutas h2 {
  color: #333;
  width: 100%; 
  text-align: center; 
}

/* Fruta.css */
.fruta {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 0; 
  text-align: center;
  width: calc(33.333% - 40px); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px; 
}


@media (max-width: 1024px) {
  .login-container {
    flex-direction: column; 
  }

  .login-image {
    order: -1; 
    width: 100%;
    height: auto; 
  }

  .login-box {
    width: 100%; 
    padding: 20px; 
    
  }
  .fruta{
    width: 100%;

  }
}


@media (max-width: 768px) {
  .login-image {
    height: 100vh ; 
  }
}
