.login-form {
  width: 100%;
  max-width: 400px;
  border: 2px solid rgba(0, 0, 0, 0.2); /* Ejemplo de borde: sólido, 2px de ancho, color negro con baja opacidad */
  padding: 40px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para profundidad */
  background-color: rgba(255, 255, 255, 0.418); /* Fondo translúcido */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido */
}


h2 {
  /* Centra el título */
  text-align: center;
  width: 100%;
  margin-bottom: 30px; /* Ajusta según necesites */
}

.input-group label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
  text-align: left; /* Alinea el texto a la izquierda dentro del espacio centrado */
  width: 100%; /* Asegura que label tome el ancho completo para alinear su texto internamente */
}

.input-group {
  display: flex;
  justify-content: center; /* Esto centrará el input en el contenedor flex */
  width: 100%; /* Asegura que el contenedor .input-group tome el ancho completo del formulario */
  margin-bottom: 20px; /* Espacio entre grupos de input */
}

.input-group input {
  width: calc(100% - 30px); /* Ajusta el ancho para compensar el padding */
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px; /* Espaciado interno para el texto dentro del input */
  margin: 0; /* margin: 0 auto no es necesario si usas flexbox en el contenedor */
}

button {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-color 0.2s, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.leaf {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #9ac23c00;
  border-radius: 50%;
}

@keyframes falling {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(320%);
  }
}
.leaf:nth-child(1) {
  left: 5%;
  top: -5%;
  animation-delay: 0.5s;
}
.leaf:nth-child(2) {
  left: 25%;
  top: -10%;
  animation-delay: 2s;
}
.leaf:nth-child(3) {
  left: 45%;
  top: -15%;
  animation-delay: 3.5s;
}
.leaf:nth-child(4) {
  left: 65%;
  top: -20%;
  animation-delay: 1s;
}
.leaf:nth-child(5) {
  left: 85%;
  top: -25%;
  animation-delay: 2.5s;
}
.leaf:nth-child(6) {
  left: 95%;
  top: -15%;
  animation-delay: 2.5s;
}
.leaf:nth-child(7) {
  left: 55%;
  top: -15%;
  animation-delay: 1.5s;
}
.leaf:nth-child(8) {
  left: 20%;
  top: -15%;
  animation-delay: 1s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-image {
  width: 100%;
  height: 100%;
  position: absolute; /* Posiciona la imagen de fondo absolutamente para que llene todo el contenedor */
  z-index: -1; /* La imagen de fondo debe estar detrás del formulario */
  object-fit: cover; /* Asegura que la imagen de fondo cubra todo el espacio disponible */
}

.login-box {
  position: absolute; /* Posicionamiento absoluto para estar por encima de la imagen de fondo */
  right: 0;
  width: 30%; /* El ancho inicial del formulario es 30% */
  height: 100%; /* Altura para llenar toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.322); /* Fondo semitransparente inicial */
  z-index: 2; /* Se asegura de que el formulario esté por encima de la imagen de fondo */
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .login-box {
    position: absolute; /* Mantiene el posicionamiento absoluto para estar por encima de la imagen de fondo */
    width: 100%; /* El formulario ahora toma el 100% del ancho de la pantalla */
    height: auto; /* La altura es automática para ajustarse al contenido */
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


/* Estilos del formulario y sus elementos */
.login-form {
  width: 100%;
  max-width: 400px;
  margin: auto; /* Centra el formulario horizontalmente */
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.418);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  color: #020202;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
  text-align: left;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column; /* Cambiado a columna para que los elementos se apilen verticalmente */
  width: 100%;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%; /* Asegura que los inputs usen el ancho disponible */
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
}

button {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-color 0.2s, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

}