/* Fruta.css */
.fruta {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye el espacio verticalmente */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: calc(33.333% - 40px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  height: 450px; /* Altura fija para todas las tarjetas */
}

.fruta-imagen img {
  max-width: 100%;
  max-height: 200px; /* Límite de altura para la imagen */
  height: auto;
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  border-radius: 8px;
  margin-bottom: 10px;
}


.fruta-info {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa toda la altura disponible */
}

.fruta-descripcion {
  min-height: 60px; /* Altura mínima para la descripción */
}

.fruta-btn {
  margin-top: auto; /* Empuja el botón hacia abajo */
  padding: 10px 20px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
